* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 5%;
  font-family: Helvetica;
  background-color: rgb(240, 240, 240);
}
#clearLocal {
  margin-top: auto;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2%;
}
#formDiv {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: flex-start;
  padding-top: 5%;
  padding-bottom: 5%;
}
#formDiv > :last-child{
  padding-left: 2%;
}
#tableDiv {
  padding-top: 1%;
}
#clearText {
  color: red;
  font-size: small;
}
h5 {
  color: rgb(190, 197, 198);
  position: relative;
  left: var(--left-indent);
}
ul {
  color: rgb(190, 197, 198);
  columns: 3;
  font-size: 15px;
  list-style-type: square;
  position: relative;
  left: var(--left-indent);
}