* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 3rem;
  /* padding-top: 2rem; */
  font-family: Helvetica;
  background-color: rgb(245, 245, 245);
}
main {
  flex-grow: 1;
}
header , footer {
  display: flex;
  align-items: vertical;
}
header {
  border-style: none none solid none;
  border-color: rgb(190, 197, 198);
  height: 4rem;
}
footer {
  justify-content: right;
  color: red;
  font-size: small;
  height: 2rem;
}
#welcomeDiv {
  margin-top: 3rem;
}
#clearLocal {
  margin-top: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
}
#formDiv {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
#formDiv > :last-child{
  padding-left: 1rem;
}
#tableDiv {
  padding-top: 2rem;
}
h5 {
  color: rgb(190, 197, 198);
  position: relative;
  padding-left: 1rem;
  text-decoration: underline;}
ul {
  color: rgb(190, 197, 198);
  columns: 3;
  font-size: 15px;
  list-style-type: square;
  position: relative;
  padding-left: 1rem;
}